%fontHeader {
  font-family: "Cardo", serif;

  font-size: 72px;

  line-height: 1.2;

  font-weight: 400;
}

%fontTitle {
  font-family: "Cardo", serif;

  font-size: 120px;

  line-height: 1.3;

  font-weight: 400;
}

%fontTiny {
  font-family: "Montserrat", sans-serif;

  font-size: 15px;

  font-weight: 300;

  line-height: 1.6;
}

%fontRegular {
  font-family: "Cardo", serif;

  font-size: 100px;

  font-weight: 400;

  text-align: center;
}
