@import "_variables";

@import "_elements";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;

  height: 100vh;

  font-family: "Lora", serif;

  padding: 40px;
}

header {
  h1 {
    line-height: 1.2;

    font-size: $fontLarge;

    letter-spacing: 1px;

    margin-bottom: 175px;
  }
}

main {
  margin-bottom: 80px;

  .works__header {
    @extend %grid;

    @extend %tinyText;

    padding-bottom: 15px;
  }

  .works__list {
    .work {
      @extend %grid;

      font-size: $fontSm;

      padding: 15px 0px;

      border-top: 1px solid $black;

      &:hover {
        font-style: italic;
      }
    }
  }
}

footer {
  width: 100%;

  height: 80%;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  padding-bottom: 40px;

  p {
    font-size: $fontMid;

    letter-spacing: 1px;

    line-height: 1.5;

    span {
      @extend %tinyText;
    }

    a {
      color: $black;

      &:hover {
        font-style: italic;
      }
    }
  }

  span {
    font-size: $fontmic;
  }
}
