@import "_variables";

@import "reset.css";

$white: #f0f0f0;

$red: #e6463c;

$mono: "Major Mono Display", monospace;

$open: "Open Sans", sans-serif;

* {
  box-sizing: border-box;
}

body {
  height: 100vh;

  font-family: "Mohave", sans-serif;

  background-color: $white;
}

header {
  position: fixed;

  top: 0;

  left: 0;

  z-index: 1;

  width: 40%;

  height: 100%;

  padding: 78px 158px 78px 64px;

  display: flex;

  flex-direction: column;

  justify-content: space-between;

  color: $red;

  h1 {
    width: 100%;

    font-family: $mono;

    font-size: 74px;

    line-height: 70px;

    margin-bottom: 80px;

    letter-spacing: 5px;
  }

  h4,
  p {
    width: 90%;

    font-family: $open;

    line-height: 1.2;

    text-align: justify;
  }

  h4 {
    font-size: 24px;

    margin-bottom: 30px;
  }

  p {
    width: 102%;

    font-size: 17px;

    margin-bottom: 24px;
  }

  .info {
    font-family: $open;

    width: 90%;

    ul {
      display: flex;

      flex-wrap: wrap;
    }

    li {
      cursor: pointer;

      margin-right: 12px;

      color: black;

      opacity: 0.5;

      border-bottom: 1px solid rgba(0, 0, 0, 1);

      margin-bottom: 10px;

      &:hover {
        opacity: 1;
      }
    }
  }
}

main {
  margin-left: 40%;

  .movie {
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.1) 5%,
        transparent,
        transparent,
        transparent,
        transparent
      )
      $red;

    height: 100vh;

    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: center;

    img {
      width: 680px;

      height: auto;

      box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06),
        inset 0 0 0 1px rgba(0, 0, 0, 0.2);
    }

    .movie__title {
      display: flex;

      justify-content: space-between;

      font-size: 40px;

      font-weight: 600;

      color: $white;

      margin-bottom: 14px;

      align-items: flex-end;

      h5 {
        font-family: $open;

        font-size: 14px;

        font-weight: 300;
      }
    }
  }
}
